MAIL_USERNAME=
MAIL_PASSWORD=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

JWT_SECRET=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=